@keyframes logoAnimation {
  0% {
  }
  50% {
    transform: translateX(25vw) rotateY(180deg) rotateX(15deg) rotateZ(-10deg);
    filter: drop-shadow(10px 10px 5px #4e4d4d);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}
@keyframes menuanimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animationImgsInBack {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animationImgsInBack1 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes borderh1 {
  0% {
    border: none;
  }
  100% {
    border-left: 7px solid rgb(56, 56, 56);
  }
}
@font-face {
  font-family: Guerrilla;
  src: url("Protest_Guerrilla/ProtestGuerrilla-Regular.ttf");
}
* {
  font-family: Guerrilla;
}
body {
  background-color: #f5eee6;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header .menu1 {
  display: none;
}
header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  padding-top: 10px;
  background-color: #9e516450;
  backdrop-filter: blur(10px);
}
header img {
  height: 40px;
  margin-left: 15px;
  animation-name: logoAnimation;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

header .rs {
  margin-right: 15px;
  display: flex;
  gap: 10px;
}
header .menu {
  display: flex;
  gap: 10px;
}
header .menu a {
  opacity: 0;
}
header .menu a:nth-child(1) {
  animation-name: menuanimation;
  animation-duration: 0.6s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
header .menu a:nth-child(2) {
  animation-name: menuanimation;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
header .menu a:nth-child(3) {
  animation-name: menuanimation;
  animation-duration: 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
header .menu a:nth-child(4) {
  animation-name: menuanimation;
  animation-duration: 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
header .menu a:nth-child(5) {
  animation-name: menuanimation;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
header a {
  text-decoration: none;
  color: rgb(67, 67, 63);
  transition-property: all;
  transition-duration: 1s;
}
header a:hover {
  color: white;
  text-decoration: overline underline 2px;
}
aside .title {
  animation-name: titleAnimation;
  animation-duration: 5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 15vw;
  line-height: 12vw;
  width: 60%;
  color: #fff8e3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .def {
    animation: move-bg 10s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
aside .def {
  --bg-size: 400%;
  --color-one: hsl(120, 51%, 65%);
  --color-tree: rgb(233, 230, 230);
  --color-two: hsl(60, 74%, 48%);
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-tree),
      var(--color-two)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  font-size: 3vw;
  text-align: center;
  width: 38%;
  line-height: 5vw;
}
aside .title span:nth-child(2) {
  text-align: end;
}
aside .backimages {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 98vw;
}
aside .backimages div {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
aside .backimages div:nth-child(1) {
  animation-name: animationImgsInBack;
  animation-duration: 2s;
}
aside .backimages div:nth-child(2) {
  margin-left: auto;
  margin-right: 9%;
  animation-name: animationImgsInBack1;
  animation-duration: 2s;
}
aside .backimages div img {
  height: 17vw;
  box-shadow: 10px 10px 0px 0px #f3d7ca;
  opacity: 1;
}
aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 93vh;
}
main {
  border-top: 2px solid rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 70px;
}
main h1 {
  color: #f3d7ca;
  font-size: 10vw;
  animation-name: borderh1;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  padding: 10px;
}
main .whymorocco {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  row-gap: 25px;
  justify-content: center;
}
main .whymorocco > div {
  border: 0.5px solid whitesmoke;
  width: 22%;
  background-color: #f3d7ca;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 400ms;
}
main .whymorocco:hover > div:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
main .whymorocco > div:hover {
  transform: scale(1.1, 1.1);
}

main .whymorocco div .imgwrap {
  display: inline-block;
  overflow: hidden;
  width: 90%;
  box-shadow: 5px 5px 5px;
  border: none;
  margin-top: 10px;
}
main .whymorocco div .imgwrap img {
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: 0.4s;
}
main .whymorocco div .imgwrap img:hover {
  transform: scale(1.1);
}
main .whymorocco div h3 {
  color: whitesmoke;
  backdrop-filter: blur(15px);
  position: relative;
  bottom: 60px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 100;
}
main .whymorocco div p {
  color: whitesmoke;
  width: 90%;
  text-align: justify;
  position: relative;
  bottom: 40px;
}
footer {
  display: flex;
  flex-direction: column;
}
footer .contactUs {
  background-color: rgba(152, 185, 195, 0.393);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
footer .contactUs input {
  height: 40px;
  font-size: 2vw;
  font-weight: 800;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  cursor: pointer;
  padding-left: 15px;
}
footer .contactUs textarea {
  height: 60px;
  font-size: 2vw;
  font-weight: 900;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 15px;
}
footer .contactUs textarea::placeholder {
  color: black;
}
footer .contactUs textarea:hover::placeholder {
  color: rgb(121, 120, 120);
}
footer .contactUs input::placeholder {
  color: black;
}
footer .contactUs input:hover::placeholder {
  color: rgb(121, 120, 120);
}
footer .contactUs input:focus {
  outline: none;
  text-transform: uppercase;
}
footer .contactUs textarea:focus {
  outline: none;
}
footer .contactUs .qs div:nth-child(1) {
  font-size: 14vw;
  font-weight: 0;
  width: 99%;
  text-align: center;
}
footer .contactUs .qs div:nth-child(2) {
  font-size: 2vw;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .contactUs .qs div:nth-child(2) span {
  color: rgb(56, 51, 51);
  font-size: 1.5vw;
}
footer .contactUs .buttons .btn {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .contactUs .buttons .btn span {
  width: 40%;
  height: 55px;
  border: none;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
}
footer .contactUs .buttons .btn span button {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: black;
  color: whitesmoke;
  font-weight: 500;
  font-size: 3vw;
  border: none;
  letter-spacing: 5px;
  cursor: pointer;
}
footer .contactUs .buttons .btn span:hover {
  border: 4px solid whitesmoke;
  box-shadow: 0px 0px 100px 20px whitesmoke;
  text-shadow: 2px 2px 2px red;
  transform: translateY(-6px);
}
footer .contactUs .buttons .btn span button:hover {
  text-shadow: 0.1px 0.1px 20px whitesmoke;
}

footer .contactUs .buttons div:hover {
  color: whitesmoke;
}
footer .copyright {
  background-color: rgba(152, 185, 195, 0.393);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
footer .copyright :first-child{
  display: flex;
  align-items: center;
}
footer .copyright :first-child a{
  margin-left: 5px;
}
footer .copyright :last-child{
  display: flex;
  align-items: center;
}
footer .copyright :last-child span{
  font-size: 25px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
footer .copyright img{
  height: 30px;
  margin-left: 5px;
}
@media (max-width: 600px) {
  @keyframes animationImgsInBack {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    50% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes animationImgsInBack1 {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    50% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes logoAnimation {
    0% {
    }
    50% {
      transform: translateX(50vw) rotateY(180deg) rotateX(15deg) rotateZ(-10deg);
      filter: drop-shadow(1px 10px 5px #4e4d4d);
    }
    100% {
      transform: translateX(0px) rotateY(180deg);
    }
  }
  header .menu {
    display: none;
  }
  header .rs {
    display: none;
  }
  header .menu1 {
    display: block;
    margin-right: 15px;
  }
  aside {
    flex-direction: column;
  }
  aside .title {
    width: 90%;
    height: 30%;
    font-size: 100px;
    line-height: 85px;
  }
  aside .def {
    height: 20%;
    width: 70%;
    font-size: 23px;
    line-height: 25px;
  }
  aside .backimages {
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    width: auto;
  }
  aside .backimages div {
    flex-direction: column;
    width: auto;
  }
  aside .backimages div:nth-child(1) {
    justify-content: start;
    gap: 20px;
  }
  aside .backimages div:nth-child(2) {
    justify-content: end;
    gap: 20px;
  }
  aside .backimages div img {
    height: 25%;
    width: auto;
  }
  main .whymorocco div {
    width: 80%;
  }
  footer .contactUs .qs div:nth-child(1) {
    font-size: 19vw;
  }
  footer .copyright {
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 15px;
  }
  footer .contactUs input {
    font-size: 5vw;
  }
  footer .contactUs textarea {
    font-size: 6vw;
  }
  footer .contactUs .buttons div {
    font-size: 7vw;
  }
  footer .contactUs .qs div:nth-child(2) span {
    font-size: 4vw;
  }
  footer .contactUs .buttons .btn span button {
    font-size: 7vw;
  }
}
@media (max-width: 1024px) and (min-width: 601px) {
  @keyframes logoAnimation {
    0% {
    }
    50% {
      transform: translateX(13vw) rotateY(180deg) rotateX(15deg) rotateZ(-10deg);
      filter: drop-shadow(10px 10px 2px #4e4d4d);
    }
    100% {
      transform: translateX(0px) rotateY(180deg);
    }
  }
  main .whymorocco div {
    width: 35%;
  }
  footer .contactUs input {
    font-size: 4vw;
  }
  footer .contactUs textarea {
    font-size: 4vw;
  }
  footer .contactUs .buttons div {
    font-size: 4vw;
  }
  footer .contactUs .qs div:nth-child(2) span {
    font-size: 2.5vw;
  }
  footer .contactUs .buttons .btn span button {
    font-size: 5vw;
  }
}
