@keyframes contentsanimation {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 120vh;
    opacity: 0;
  }
}
.lines {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 7%;
}
.line {
  background-color: rgb(46, 46, 46);
  height: 100vh;
  width: 1px;
}
.contents {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 7%;
}
.content {
  position: relative;
  top: 0;
  z-index: -1;
  animation-name: contentsanimation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 1px;
  box-shadow: 0px 0px 30px 2px white;
}
.content:nth-child(1) {
  animation-duration: 2s;
}
.content:nth-child(2) {
  animation-duration: 2.1s;
}
.content:nth-child(3) {
  animation-duration: 2.2s;
}
.content:nth-child(4) {
  animation-duration: 2.3s;
}
.content:nth-child(5) {
  animation-duration: 2.4s;
}
.content:nth-child(6) {
  animation-duration: 2.5s;
}
.content:nth-child(7) {
  animation-duration: 2.6s;
}
.content:nth-child(8) {
  animation-duration: 2.5s;
}
.content:nth-child(9) {
  animation-duration: 2.4s;
}
.content:nth-child(10) {
  animation-duration: 2.3s;
}
.content:nth-child(11) {
  animation-duration: 2.2s;
}
.content:nth-child(12) {
  animation-duration: 2.1s;
}
.content:nth-child(13) {
  animation-duration: 2s;
}


.photos{
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  font-family: "Fira Sans", sans-serif;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.photos .groupphotos{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.photos .groupphotos .photo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photos .groupphotos .photo:hover .photo_name{
  color: whitesmoke;
  text-shadow: none;
  text-transform:uppercase;
  transform: translateY(-10px);
}
.photos .groupphotos .photo:hover .photo_image img{
  filter: grayscale(0);
  transform: scale(1.1);
}
.photos .groupphotos .photo .photo_image{
  width: 80%;
  display: flex;
  border-radius: 10px;
}
.photos .groupphotos .photo .photo_image img{
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  transition-property: all;
  transition-duration: .4s;
}
.photos .groupphotos .photo .photo_name{
  color: whitesmoke;
  text-align: center;
  width: 80%;
  font-weight: 900;
  font-size: 2vw;
  color: #000000;
  text-shadow:
    1px 1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff;
    transition-property: all;
    transition-duration: .4s;
}

@media (max-width: 600px) {
  .photos .groupphotos{
    width: 45%;
  }
  .photos .groupphotos .photo .photo_name{
    font-size: 5vw;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .photos .groupphotos{
    width: 30%;
  }
  .photos .groupphotos .photo .photo_name{
    font-size: 3vw;
  }
}