.maininend {
  display: flex;
  justify-content: end;
  padding-top: 2vh;
}
.main {
  width: 70%;
}
.aside {
  width: 20vw;
  position: fixed;
  top: 10vh;
  left: 1vw;
  background-color: rgba(41, 41, 41, 0.336);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.aside h4 {
  color: rgb(90, 67, 67);
  margin: 0;
}
.aside .titleForms {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}
.aside .titleForms form {
  padding-left: 5%;
  display: flex;
  align-items: center;
}
.aside a {
  text-decoration: none;
  color: rgb(75, 75, 231);
  text-align: end;
  padding-right: 5%;
}
.aside a:hover {
  color: rgb(151, 151, 227);
}
.aside .countainer {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  justify-content: space-between;
  width: 70%;
  padding-left: 15%;
}
.aside .countainer div {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  width: 45%;
}
.aside .countainer div:hover {
  background-color: grey;
  cursor: pointer;
}
.aside .iconTitle {
  display: flex;
  align-items: center;
}
.aside .iconTitle img {
  height: 15px;
}
.aside .titleForms .colors {
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  justify-content: center;
  row-gap: 7px;
  padding-top: 5px;
}
.aside .titleForms .colors div {
  width: 30px;
  height: 30px;
  border: 0.5px solid grey;
  border-radius: 50%;
  cursor: pointer;
  transition: all;
  transition-duration: 5s;
}
.aside .titleForms .colors .purple {
  background-color: purple;
}
.aside .titleForms .colors .haki {
  background-color: rgb(82, 70, 70);
}
.aside .titleForms .colors .brown {
  background-color: brown;
}
.aside .titleForms .colors div:hover {
  filter: blur(3px);
}
table td img {
  width: 90%;
  margin-top: 20px;
}
table {
  color: white;
  border-spacing: 0px !important;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
table td {
  text-align: center;
  width: 30vw;
  border: 0.1px solid white;
  color: rgb(112, 110, 110);
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}
table td div {
  background-color: yellow;
  color: black;
  font-weight: 900;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  border-radius: 5px;
}
table td .solde {
  background-color: red;
  color: white;
}
table tr:nth-child(3n-2) td {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}
table tr:nth-child(3n-1) td {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
table tr:nth-child(3n) td {
  border-top: 0;
  border-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
table tr:last-child td {
  border-bottom: 0;
}
.titleForms form label {
  font-family: Arial, Helvetica, sans-serif !important;
}
.titleForms form label span {
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 964px) {
  .aside {
    display: none;
  }
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .aside .iconTitle {
    display: none;
  }
}
@media (max-width: 600px) {
  table td div {
    font-size: 13px;
  }
  table td {
    width: 20vw;
  }
}
